# Transformation with Spark

## Cleaning, Wrangling, Enriching and EDA of Adidas Sales Data in the US

In [6]:
#Imports
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import regexp_replace, col

In [7]:
#Definitions
spark = SparkSession.builder.master("local").appName("Adidas").getOrCreate()

In [8]:
spark

In [18]:
# Read the dataset and create a spark dataframe
df = spark.read.csv("Adidas_Sales.csv",header=True,inferSchema=True)

In [19]:
df.show(5,False)

+-----------+-----------+------------+---------+--------+--------+-------------------------+--------------+----------+-----------+----------------+----------------+------------+
|Retailer   |Retailer ID|Invoice Date|Region   |State   |City    |Product                  |Price per Unit|Units Sold|Total Sales|Operating Profit|Operating Margin|Sales Method|
+-----------+-----------+------------+---------+--------+--------+-------------------------+--------------+----------+-----------+----------------+----------------+------------+
|Foot Locker|1185732    |1/1/2020    |Northeast|New York|New York|Men's Street Footwear    |$50.00        |1,200     |$600,000   |$300,000        |50%             |In-store    |
|Foot Locker|1185732    |1/2/2020    |Northeast|New York|New York|Men's Athletic Footwear  |$50.00        |1,000     |$500,000   |$150,000        |30%             |In-store    |
|Foot Locker|1185732    |1/3/2020    |Northeast|New York|New York|Women's Street Footwear  |$40.00        |1,000     |$400,000   |$140,000        |35%             |In-store    |
|Foot Locker|1185732    |1/4/2020    |Northeast|New York|New York|Women's Athletic Footwear|$45.00        |850       |$382,500   |$133,875        |35%             |In-store    |
|Foot Locker|1185732    |1/5/2020    |Northeast|New York|New York|Men's Apparel            |$60.00        |900       |$540,000   |$162,000        |30%             |In-store    |
+-----------+-----------+------------+---------+--------+--------+-------------------------+--------------+----------+-----------+----------------+----------------+------------+
only showing top 5 rows

#### Transformatins to perform:
    Clean data
    Change datatypes
    Rename column names
    Drop unnecessary columns

In [21]:
#Clean Data
clean_df = df\
            .withColumn("Invoice Date", regexp_replace(col("Invoice Date"),"/","-"))

SyntaxError: invalid syntax (2341109509.py, line 2)

    working_schema = StructType([
        StructField("Retailer", StringType(), True),
        StructField("RetailerID", IntegerType(), True),
        StructField("InvoiceDate", DateType(), True),
        StructField("Region", StringType(), True),
        StructField("State", StringType(), True),
        StructField("City", StringType(), True),
        StructField("Product", StringType(), True),
        StructField("UnitPrice", DoubleType(), True),
        StructField("Quantity", IntegerType(), True),
        StructField("Sales", DoubleType(), True),
        StructField("Profit", DoubleType(), True),
        StructField("Margin", DoubleType(), True),
        StructField("Channel", StringType(), True)
    ])